#mapPage .ui-content {
    padding: 0;
}

#mapDiv {
    width: 100%;
    height: 100%;
    background-color: #FF00BFFF;
}

#featureDetailsForm {
    padding: 0 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}